# MyAnimeList API Configuration
# Dapatkan token dari: https://myanimelist.net/apiconfig/references/authorization
# Ganti YOUR_TOKEN dengan token Anda yang sebenarnya
REACT_APP_MYANIMELIST_TOKEN=curl 'https://api.myanimelist.net/v2/anime?q=one&limit=4' 
